html {
    font-family: 'Oswald', sans-serif;
}

h1, h2, h3 {
    font-weight: 300;
}

h1 {
    font-size: 3rem;
    text-transform: uppercase;
    color: #37cfa2;
    margin-bottom: 20px;
}

h2 {
    font-size: 1.5rem;
    text-transform: uppercase;
    margin-bottom: 15px;
}

h3 {
    font-size: 1rem;
    text-transform: uppercase;
    margin-bottom: 10px;
}

span {
    text-transform: capitalize;
    margin-bottom: 10px;
    display: inline-block;
}

a {
    text-decoration: none;
    color: black;
}

a.btn, .btn {
    background-color: #37cfa2;
    color: white;
    text-transform: capitalize;
    font-size: 1.2rem;
    border-radius: 3px;
    margin: 25px 0;
    border: none;
    padding: 15px 30px;
    display: inline-block;

}

a.btn--large {
    padding: 20px 40px;
}

p {
    font-size: 1.2rem;
    font-weight: 300;
}

a.btn, .btn, p, span, label {
    font-family:"Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" ;
}

.section--title {
    margin-bottom: 50px;
}

label {
    margin-top: 10px;
    display: inline-block;
}

i {
    font-size: 4rem;
}