header {
    border-bottom: rgb(255, 255, 255) 0.5px solid;
    position: fixed;
    top: 0; left: 0;
    z-index: 10;
    transition: all ease-in-out .3s;
    &.active {
        border-bottom: none;
        background-color: white;
        box-shadow: rgba(0, 0, 0, 0.2) 0 10px 20px;
        nav.container {
            padding: 10px 30px;
            
        }
        a {
            color: black;
        }
        .menu--burger div {
            background-color: black;
        }
    }
    a {
        color: white;
        font-weight: 300;
    }
}

nav.container {
    padding: 20px 30px;
    justify-content: space-between;
    text-transform: uppercase;
    transition: all ease-in-out .3s;
    flex-direction: row ;

    li {
        margin-left: 20px;
    }
}

.nav__logo {
    font-size: 1.8rem;
}

// burger animation /////////////////////////

.menu--burger {
    width: 30px; height: 20px;
    display: none; flex-direction: column;
    justify-content: space-between;
    // margin: 0 30px;
    div {
        width: 30px; height: 2px;
        background-color: white;
    }
}



@media screen and(max-width: 1000px){
    .menu--burger {
        display: flex;
    }

    nav ul {
        background-color: white;
        position: fixed; 
        top: 0; right: 0; bottom: 0;
        transform: translateX(100%);
        display:flex ;
        flex-direction: column;
        justify-content: center;
        color: black;
        transition: all ease-in-out .3s;
        .menu--burger--close {
            position: absolute;
            top: 30px; right: 30px;
            transform: rotate(45deg);
            div {
                width: 30px; height: 2px;
                background-color: black;
                &:nth-child(1){
                    transform: rotate(90deg) translate(1px, -1px) ;
                }
            }
        }
        li {
            padding: 20px 50px;
        }
        a {
            font-size: 1.4rem;
            color: black;
        }
        &.active {
            transform: translateX(0);
        }
    }

}
