// hero ///////////////////////////

#hero {
    height: 100vh;
    position: relative;
    h1 {
        color: white;
    }
    p {
        color: white;
    }
    &::before {
        content: "";
        position: absolute;
        top: 0; bottom: 0; left: 0; right: 0;
        background-color: rgba(0, 0, 0, 0.5);
    }
}

.swiper-wrapper {
    width: 100%; height: 100%;
    > div {
        width: 100%; height: 100%;
    }
}

.hero__content {
    height: 100%;
    position: relative;
    z-index: 1;
}

.swiper-pagination {
    position: relative;
    z-index: 10;
}

// properties ///////////////////////

#properties {
    .house--single {
        margin-left:80px;
        position: relative;
        &::before {
            content: "";
            position: absolute;
            top: 0; left: 0; right: 0; bottom: 0;
            background-color: rgb(0, 0, 0);
            opacity: 0;
            z-index: -1;
            transition: all ease-in-out .2s;

        }
        &:hover {
            &::before {
                content: "";
                top: 20px; left: 20px; right: -20px; bottom: -20px;
                background-color: rgb(22, 22, 22);
                opacity: 1;
            }
            .house--info {
                h2 {
                    color: white;
                }
                padding: 20px 40px;
            }
        }
        &:nth-child(1) {
            margin-left: 0;
        }
        .house--info {
            padding: 20px 0;
            transition: all ease-in-out .2s;
            span {
                color: grey;
            }
        }
    }
}

// agents ///////////////////////////

#agents {
    .agent--single {
        background-color: #37cfa2;
        margin-left:30px;
        img {
            transition: all ease-in-out .2s;
        }
        &:hover {
            img {
                transform: scale(1.1);
            }
        }
        &:nth-child(1) {
            margin-left: 0;
        }
        .agent--info {
            padding: 15px 15px;
        }
    }

}

// how it works /////////////////////

#how-it-works {
    background-color: #37cfa2;
    h1 {
        color: black;
    }
    .step--logo--1 {
        &::before {
            content: "01.";
        }
    }
    .step--logo--2 {
        &::before {
            content: "02.";
        }
    }
    .step--logo--3 {
        &::before {
            content: "03.";
        }
    }
}

.step {
    text-align: center;
    position: relative;
    margin-left:50px;
        &:nth-child(1) {
            margin-left: 0;
            &::before {
                display: none;
            }
        }
    div {
        margin-bottom: 15px;
    }
    p {
        font-size: 1rem;
    }
    &::before {
        content: "";
        position: absolute;
        width: 100px; height: 1px;
        background-color: black;
        left: 0; top: 50%;
        transform: translateX(-75px);
    }
}


// news /////////////////////////////

.news--single {
    margin-left:30px;
        &:nth-child(1) {
            margin-left: 0;
        }
}

.news--infos {
    padding: 30px 0;
}

.news--details {
    flex-wrap: wrap;
    span {
        margin-right: 10px;
    }
    a {
        color: #37cfa2;
    }
}

// contact /////////////////////////// 

#contact {
    background-color: rgb(236, 236, 236);
}

.form-and-adress {
    > div {
        padding: 50px;
        background-color: #fff;
        border-radius: 10px;
    }
}

.contact__form {
    width: 70%;
    margin-right: 50px;
    align-items: flex-start;
    > div {
        width: 100%;
        &:nth-last-child(1) {
            width: initial;
        }
    }
}

.form__names {
    div:nth-child(1) {
        margin-right: 30px;
    }
}

.adress {
    > div {
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
    }
    strong {
        font-weight: 700;
        color: grey;
    }
}


