#hero.hero__properties {
    max-height: 40vh ;
    position: relative;
    &::before {
        content: "";
        position: absolute;
        top: 0; bottom: 0; left: 0; right: 0;
        background: linear-gradient(180deg, rgba(0,0,0,0.6278886554621849) 0%, rgba(0,0,0,0.17130602240896353) 100%);
    }
    .container {
        justify-content: center;
        display: flex;
        .hero__content {
            justify-content: center;
            margin-top: 20px;
            z-index: 10;
        }
    }
    span {
        color: white;
        font-size: 1.5rem;
    }
    @media screen and(max-width: 1000px){
            h1 {
                margin-top: 50px;
                font-size: 2rem;
            }
        }
}

.single__property__content {
    
    span {
        margin-bottom: 20px;
    }
    p {
        margin-bottom: 10px;
        font-size: 1rem;
        line-height: 1.5rem;
    }
}

.single--property__img {
    width: 50%;
        margin-right: auto;
        margin-left: 0;
        @media screen and(max-width: 1000px){
            width: 100%;
            margin-bottom: 50px;
        }
    img {
        object-fit: cover;
    }
    
}

.single--property__sidebar {
    width: 40%;
    @media screen and(max-width: 1000px){
        width: 100%;
    }
}

.property--img--container {
    width: 100%;
}

.agent--img--circle {
    width: 120px; height: 120px;
    border-radius:50%;
    overflow: hidden;
    margin: 30px 0 10px 0;
}